.teamlayout {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-family: 'Merriweather', serif;
  font-size: 10px;
}
h2,
h3,
h4 {
  font-size: 2.5rem;
}
p,
a,
button {
  font-size: 1.5rem;
}
header nav {
  display: flex;
  flex-direction: column;
}
@media (min-width: 800px) {
  header nav {
    flex-direction: row;
  }
}
@media (min-width: 1000px) {
  header nav {
    width: 100%;
    justify-content: flex-end;
  }
}
header nav a {
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: white;
}
header nav a:hover {
  color: #F7BE16;
}
@media (min-width: 800px) {
  header nav a {
    border: none;
    padding: 50px 20px 0 20px;
  }
  header nav a:first-child {
    border: none;
  }
  header nav a:last-child {
    padding-top: 30px;
  }
}
header nav button {
  padding: 10px 100px;
  border-radius: 10px;
  border: 1px solid black;
  background: #F7BE16;
  color: #216583;
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
@media (min-width: 800px) {
  header nav button {
    padding: 10px 25px;
    display: flex;
    justify-content: flex-end;
  }
}
header nav button:hover {
  border: 1px solid #216583;
  background: white;
  transform: scale(1.2);
}
footer {
  background: #384786;
}
footer .social {
  display: flex;
  justify-content: center;
}
@media (min-width: 800px) {
  footer .social {
    flex-direction: row;
  }
}
footer .social a {
  padding: 15px 20px 15px 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  color: white;
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
}
footer .social a:hover {
  color: #F7BE16;
  transform: scale(1.5);
}
footer p {
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 1.2rem;
}
header {
  display: flex;
  flex-direction: column;
  background: #293462;
}
@media (min-width: 800px) {
  header {
    flex-direction: row;
    justify-content: space-around;
  }
}
header .logo {
  font-family: 'Bangers', cursive;
  font-size: 3.5rem;
  text-align: center;
  padding: 10px 0;
  color: #F7BE16;
}
@media (min-width: 1000px) {
  header .logo {
    padding-left: 5%;
  }
}
header .logo .break {
  display: none;
}
@media (min-width: 800px) {
  header .logo .break {
    display: unset;
  }
}
@media (min-width: 1000px) {
  .content {
    display: flex;
    flex-direction: row;
  }
}
.top-img {
  padding: 20px 0;
}
.top-img img {
  width: 95%;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border-radius: 50%;
  background: #216583;
}
@media (min-width: 1000px) {
  .top-img {
    padding: 50px 20px;
  }
}
.top {
  text-align: center;
  padding-top: 8%;
  line-height: 30px;
  background: #00818A;
  color: white;
}
@media (min-width: 800px) {
  .top {
    padding-top: 3%;
  }
}
@media (min-width: 1000px) {
  .top {
    padding-top: 5%;
  }
}
.top h2 {
  color: #F7BE16;
}
.top p {
  padding: 10px;
}
.one {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 800px) {
  .one {
    display: flex;
    flex-direction: row;
    padding: 20px;
  }
}
.two {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 800px) {
  .two {
    display: flex;
    flex-direction: row;
    padding: 0 20px 20px 20px;
  }
}
.card {
  position: relative;
  width: 50%;
  margin: 20px;
  box-shadow: 10px 10px 5px grey;
  border-radius: 10px;
}
.card .image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.cardContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00818A;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  text-align: center;
}
.cardContainer .text {
  white-space: nowrap;
  color: #F7BE16;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.cardContainer .text p {
  font-size: 1.7rem;
  padding-top: 10px;
}
.cardContainer .text a {
  color: white;
  padding-top: 10px;
  width: 50px;
  font-size: 3.5rem;
}
.cardContainer .text a:hover {
  color: #F7BE16;
}
.card:hover .cardContainer {
  height: 100%;
  border-radius: 10px;
}
